<% if(message){ %>
<div class="registration">
    <h1 class="fail"><%= message %></h1>
</div>
<% } %>

<div id="front-page-body">
    <div id="intro-text">
        <h2>A Comprehensive platform for reliable</h2>
        <h3>job opportunities and internships.</h3>
        <p>Get Discovered. Get Hired.</p>
    </div>
    <% if(!userName){ %>
    <div class="btn-container d-flex flex-row my-1 justify-content-center align-item-center">
        <a href="/user-register"><button class="submit-btn p-2">I'm A Job-Seeker</button></a>
        <a href="/recruiter-register"><button class="submit-btn p-2">I'm A Recruiter</button></a>
    </div>
    <%}%>
</div>
